version: "3.8"
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_quanlymuavu
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-mysql.sql:/docker-entrypoint-initdb.d/init-mysql.sql
    command: --default-authentication-plugin=mysql_native_password

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog_quanlymuavu
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  mysql_data:
